/*General*/
body {
  font-size: 16.5px;
  background-color: #282828;
  font-family: 'Roboto Mono', monospace;
}

/*Table*/
table{ 
  margin: auto;
  margin-top: 50px;
  border: 1px solid #3c3f51;
}
tbody{
  background-color: #424558;
  color: #e0e1e4;
}
td, th{
  border: 1px solid #3c3f51;
  padding: 3px 8px 3px 8px;
  width: 18em; 
  text-align: left;
}

/*Headers*/
thead{
  background-color: #353849;
  color: #9398b6;
}
th{ transition: box-shadow 0.1s, filter 0.1s;}
th i{
  transition: font-size 0.2s;
  font-size : 110%;
}
a{
  padding: 5px; 
  transition: filter 0.1s;
}

/*Headers' text field*/
input{
  background: transparent;
  border: none;
  color: #9398b6;
  transition: color 0.1s, background-color 0.1s;
}
input:focus{
  background: #e0e1e4;
  border-radius: 4px;
  color: #282828;
}


